@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*{
    margin: 0px;
    padding: 0px;
}
.logo{
    width: 120px;
    height: 60px;
    padding-top: 10px;
    padding-left: 5px;
}
.banner .content{
    text-align: center;
}
.content{
    padding-bottom: 100px;
}
.content h1{
    font-family: 'KoHo', sans-serif;
    color: white;
    font-size: 65px;
}
.content p{
     font-family: 'KoHo', sans-serif;
     color: white;
     font-size: 30px;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(20, 22, 5, 0.329),rgba(39, 46, 9, 0.247)),url(../../assets/images/back1.jpg);
    background-size: cover;
}
.btn{
    width: 12%;
    padding: 6px;
    margin-top: 40px;
    left: 42%;
    position: absolute;
    font-family: 'KoHo', sans-serif;
    font-size: 22px;
    background: #f2ae30;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.5s;
    outline: none;
}
.btn:hover{
    box-shadow: inset 300px 0 0 0 white;

}
header{
    position: fixed;
    background: rgba(0, 0, 0, 0.541);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .navigation{
    padding-right: 30px;
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 45px;
}
header .navigation li a{
    text-decoration: none;
    color:#f2ae30;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}
header .navigation li a:hover{
    color: white;
}
.menucont span{
    color: #f2ae30;
}
.menucont{
    text-align: center;
    padding-top: 30px;
}
.menucont h1{
    font-size: 50px;
    font-family: 'KoHo', sans-serif;
}
.menucont p{
    font-size: 20px;
    font-family:  'KoHo', sans-serif;
}
/////////////////////////////////////////////////////////////////////// 
.cards-sec{
    margin-top: 80px;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin: 30px auto;
    width: 300px;
    height: 350px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.151), -5px -5px 30px 7px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(243, 221, 20, 0.534);
  }
  
  .card .card_image img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: -50px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: black;
  }
  ///////////////////////////////////////////////////////////////////////////////// 
  .footer-sec{
      margin-top: 100px;
  }
  footer{
    position: absolute;
    bottom: 100;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: 'KoHo', sans-serif;
    padding-top: 40px;
    color: #f2ae30;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
//////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width: 934px){

.btn{
    width: 14%;
    padding: 6px;
    margin-top: 40px;
    left: 42%;
    position: absolute;
    font-family: 'KoHo', sans-serif;
    font-size: 22px;
    background: #f2ae30;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.5s;
    outline: none;
}
.btn:hover{
    box-shadow: inset 300px 0 0 0 white;

}
.cards-sec{
    margin-top: 80px;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin: 30px auto;
    width: 250px;
    height: 350px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.151), -5px -5px 30px 7px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(243, 221, 20, 0.534);
  }
  
  .card .card_image img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: -50px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: black;
  }
}

////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width: 600px){

header .navigation{
    display: none;
}
.logo{
    width: 65px;
    height: 35px;
}
.content{
    padding-bottom: 150px;
}
.content h1{
    font-size: 35px;
}
.content p{
    font-size: 16px;
}
.btn{
    width: 30%;
    padding: 6px;
    margin-top: 30px;
    left: 35%;
    position: absolute;
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
    background: #f2ae30;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.5s;
    outline: none;
}
.btn:hover{
    box-shadow: inset 300px 0 0 0 white;

}
.banner{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(20, 22, 5, 0.329),rgba(39, 46, 9, 0.247)),url(../../assets/images/back1.jpg);
    background-size: cover;
}
.menucont span{
    color: #f2ae30;
}
.menucont{
    text-align: center;
    padding-top: 25px;
}
.menucont h1{
    font-size: 35px;
    font-family: 'KoHo', sans-serif;
}
.menucont p{
    font-size: 12px;
    font-family:  'KoHo', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}
////////////////////////////////////////////////////////////////////////////////// 
.cards-sec{
    margin-top: 40px;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin: 30px auto;
    width: 250px;
    height: 350px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.151), -5px -5px 30px 7px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(243, 221, 20, 0.534);
  }
  
  .card .card_image img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -50px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: black;
  }
  ///////////////////////////////////////////////////////////////////////////// 
  .footer-sec{
    margin-top: 100px;
}
footer{
  position: absolute;
  bottom: 80;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  font-family: 'KoHo', sans-serif;
  padding-top: 40px;
  color: #f2ae30;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 12px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 12px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}








}
  

  

